<div class="container my-5">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <div class="mb-4 flash"><%= flash[:notice] %></div>
      <h2 class="mb-3">ログイン</h2>

      <%= form_with model: @user, url: user_session_path, local: true do |f| %>
        <div class="form-group">
          <%= f.label "メールアドレス" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>
      
        <div class="form-group">
          <%= f.label "パスワード" %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>
      
        <% if devise_mapping.rememberable? %>
          <div class="form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
      
        <div class="form-group">
          <%= f.submit "ログイン", class: "btn btn-outline-primary btn-block rounded-pill" %>
        </div>
      <% end %>
      
      <p class="mt-4">
        会員登録がお済みでない方は
        <%= link_to "こちら", new_user_registration_path %>
      </p>
    </div>
  </div>
</div>



