<div class="container my-5">
  <div class="row">
    <div class="col-12 mx-auto">
      <div class="flash"><%= flash[:notice] %></div>
      <h2 class="my-5">投稿一覧</h2>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>タイトル</th>
            <th>投稿者</th>
            <th>感情スコア</th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td>
                <%= attachment_image_tag post, :post_image, size: "80x80", fallback: "no_image.png" %>
              </td>
              <td>
                <%= link_to admin_post_path(post.id) do %>
                  <%= post.title %>
                <% end %>
              </td>
              <td>
                <%= link_to admin_user_path(post.user.id) do %>
                  <%= post.user.nickname %>
                <% end %>
              </td>
              <td class="sentiment-score text-center">
                <%= post.score %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>