<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-5">
      <h2 class="my-5"><%= @post.user.nickname %> さんの投稿</h2>
      <%= render 'user/users/info', user: @user %>
    </div>
    <div class="col-md-6 offset-md-1 mt-5 post-show">
      <div class="text-center mt-4">
        <%= attachment_image_tag @post, :post_image, size: "300x300", class: "post-show-img" %>
      </div>
      <div class="page-header mt-4">
        <h2 class="post-title post-evaluation" data-score="<%= @post.evaluation %>">
          <%= @post.title %>
        </h2>
        <!--評価した星の数表示-->
        <script>
          $('.post-evaluation').raty({
            readOnly: true,
            score: function() {
              return $(this).attr('data-score');
            },
            path: '/assets/'
          });
        </script>
        <div class="mb-3">
          <p>ジャンル：　<%= @post.genre.name %></p>
          <div id="post_favorites_<%= @post.id %>" class="ml-2">
            <i class="far fa-heart heart_red"></i><%= @post.favorites.count %>
            <i class="far fa-comment ml-2"></i> <%= @post.favorites.count %>
          </div>
        </div>
      </div>
      <div>
        <p><%= @post.body %></p>
      </div>
    </div>
  </div>
</div>