<table class="table mb-4">
  <tr>
    <th><%= attachment_image_tag(user, :profile_image, size: "100x100", fallback: "no_image.png", class: "profile_image") %></th>
    <th></th>
    <th>
      <% if user.id = current_user.id %>
        <%= link_to "編集", edit_user_path(user.id), class: "btn btn-info rounded-pill pull-right" %>
      <% else %>
        <!--フォロー中orフォロー＋を表示-->
      <% end %>
    </th>
  </tr>
</table>

<table class="table">
  <tr>
    <td><strong><%= user.nickname %></strong></td>
    <td><%= user.age_i18n %></td>
    <td><%= user.skin_type_i18n %></td>
  </tr>
  <tr>
    <td colspan="3"><%= user.introduction %></td>
  </tr>
  <tr>
    <td colspan="2"></td>
    <td>フォロー中</td>
  </tr>
  <tr>
    <td colspan="2"></td>
    <td>フォロワー</td>
  </tr>
</table>