<table class="table mb-4">
  <tr>
    <th>
      <!--ログイン者がユーザーの場合：画像リンク。管理者の場合は表示のみ。-->
      <% if user_signed_in? %>
        <%= link_to user_path(user) do %>
          <%= attachment_image_tag(user, :profile_image, size: "100x100", fallback: "no_image.png", class: "profile_image") %>
        <% end %>
      <% else %>
        <%= attachment_image_tag(user, :profile_image, size: "100x100", fallback: "no_image.png", class: "profile_image") %>
      <% end %>
    </th>
    <th colspan="2">
      <!--ログイン者がユーザーの場合は下記ボタンが表示、管理者の場合は非表示-->
      <% if user_signed_in? %>
        <% if current_user != user %>
          <% if current_user.following?(user) %>
            <%= link_to "フォロー中", user_relationships_path(user.id), method: :delete, class: "btn btn-info rounded-pill pull-right" %>
          <% else %>
            <%= link_to "フォロー", user_relationships_path(user.id), method: :post, class: "btn btn-outline-info rounded-pill pull-right" %>
          <% end %>
        <% else %>
          <%= link_to "編集", edit_user_path(user.id), class: "btn btn-outline-info rounded-pill pull-right" %>
        <% end %>
      <% end %>
    </th>
  </tr>
</table>

<table class="table">
  <tr>
    <td colspan="2" class="font-weight-bold"><%= user.nickname %></td>
    <td class="text-center"><%= user.age_i18n %></td>
    <td class="text-center"><%= user.skin_type_i18n %></td>
  </tr>
  <tr>
    <td colspan="4"><%= user.introduction %></td>
  </tr>
  <tr>
    <!--ログイン者がユーザーの場合はフォロー・フォロワーの一覧へ飛ぶ。管理者の場合は数字のみ。-->
    <td colspan="2">
      <% if user_signed_in? %>
        <%= link_to user.followings.count, user_followings_path(user) %> フォロー
      <% else %>
        <%= user.followings.count %> フォロー
      <% end %>
    </td>
    <td colspan="2">
      <% if user_signed_in? %>
        <%= link_to user.followers.count, user_followers_path(user) %> フォロワー
      <% else %>
        <%= user.followers.count %> フォロワー
      <% end %>
    </td>
  </tr>
</table>