<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-5 mt-5">
      <div class="mb-4 flash"><%= flash[:notice] %></div>
      <%= render 'info', user: @user %>
      <% if @user != current_user %>
        <% if @is_room == true %>
          <%= link_to "チャット", room_path(@room_id, user_id: @user.id), class: "btn btn-block btn-info" %>
        <% else %>
          <%= form_with model: @room, url: rooms_path, local: true do |f| %>
            <%= fields_for @entry do |e| %>
              <%= e.hidden_field :user_id, value: @user.id %>
            <% end %>
            <%= f.submit " チャットを始める", class: "btn btn-block btn-outline-info" %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-6 offset-md-1">
      <h2 class="text-center my-5"><%= @user.nickname %>さんの投稿</h2>
      <%= render 'user/posts/index', posts: @posts %>
    </div>
    <div class="my-3 mx-auto">
      <%= paginate @posts %>
    </div>
  </div>
</div>

