<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="flash"><%= flash[:notice] %></div>
    <div class="col-md-5 mt-5">
      <%= render 'info', user: @user %>
    </div>
    <div class="col-md-6 offset-md-1">
      <h2 class="my-5"><%= @user.nickname %>さんの投稿</h2>
      <%= render 'user/posts/index', posts: @posts %>
    </div>
    <div class="my-3 mx-auto">
      <%= paginate @posts %>
    </div>
  </div>
</div>

