<div class="row justify-content-center">
  <% posts.each do |post| %>
    <div class="card m-2">
      <%= link_to post_path(post.id) do %>
        <%= attachment_image_tag(post, :post_image) %>
      <% end %>
      <div class="card-body">
        <div class="row">
          <div id="post_favorites_<%= post.id %>" class="ml-3">
            <!--ユーザーがログインしている時はいいねが押せる。それ以外はいいね数の表示のみ-->
            <% if user_signed_in? %>
              <%= render "user/favorites/favorite-btn", post: post %>
            <% else %>
              <div class="heart_red">
                <i class="far fa-heart"></i><%= post.favorites.count %>
              </div>
            <% end %>
          </div>
          <div>
            <!--ユーザーがログインしている時は投稿詳細へのリンク、それ以外はコメント数の表示のみ-->
            <% if user_signed_in? %>
              <%= link_to post_path(post.id), class: "icons" do %>
                <i class="far fa-comment ml-5"></i> <%= post.comments.count %>
              <% end %>
            <% else %>
              <i class="far fa-comment ml-2 icons"></i> <%= post.comments.count %>
            <% end %>
          </div>
        </div>
        <div class="mt-2">
          <%= link_to post_path(post.id), class: "post-link" do %>
            <%= post.title %> ...
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
