<div class="container my-5">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>投稿編集</h2>

      <div class="my-4">
        <%= attachment_image_tag(@post, :post_image, size: "100x100", fallback: "no_image.png") %>
      </div>

      <%= form_with model: @post, url: post_path, local: true do |f| %>
        <div class="form-group mb-4">
          <%= f.label :post_image, "+ 画像を選択", class: "input-btn" %><br>
          <%= f.attachment_field :post_image, class: "d-none" %>
        </div>

        <div class="form-group mb-4">
          <%= f.label "タイトル" %>
          <%= f.text_field :title, class: "form-control" %>
        </div>

        <% if @post.evaluation.present? %>
        <!--投稿に紐づくレビューがあれば表示-->
          <div class="form-group mb-4" id="edit-star-<%= @post.id %>">
            <%= f.label "評価" %>
            <%= f.hidden_field :evaluation, id: :review_star %>
          </div>
          <!--星表示-->
          <script>
            $('#edit-star-<%= @post.id %>').raty({
              size: 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              half: true,
              score: <%= @post.evaluation %>,
              scoreName: 'post[evaluation]',
            });
          </script>
        <% else %>
        <!--投稿に紐づくレビューがなければ新規投稿-->
          <div class="form-group mb-4" id="star">
            <%= f.label "評価" %>
            <%= f.hidden_field :evaluation, id: :reviewstar %>
          </div>
          <!--星表示用-->
          <script>
            $('#star').raty({
              size: 36,
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              scoreName: 'post[evaluation]',
              half: true
            });
          </script>
        <% end %>

        <div class="form-group mb-4">
          <%= f.label "投稿内容" %>
          <%= f.text_area :body, class: "form-control", placeholder: "メンズコスメや脱毛など、美容関連であればなんでもOK！お気軽に投稿してください！" %>
        </div>

        <div class="form-group mb-4">
          <%= f.label "ジャンル：　" %>
          <%= f.collection_select :genre_id, Genre.all, :id, :name, { prompt: "-- 選択してください --" } %>
        </div>

        <div class="btn-wrapper text-right">
          <%= link_to "削除", post_path(@post), method: :delete, class: "btn btn-danger rounded-pill", data: {confirm: '本当に削除しますか？'} %>
          <%= f.submit "更新", class: "btn btn-info rounded-pill" %>
        </div>
      <% end %>
    </div>
  </div>
</div>