  <% visitor = notification.visitor %>
  <% visited = notification.visited %>
  
  <div class="mx-auto">
    <div class="form-inline">
      <span>
        <p>
          <%= link_to user_path(notification.visitor.id) do %>
            <%= attachment_image_tag notification.visitor, :profile_image, fallback: "no_image.png", size: "50x50", class: "profile_image" %>
            <%= notification.visitor.nickname %>
          <% end %>
          さんが
          <% case notification.action %>
            <% when "follow" then %>
              あなたをフォローしました
            <% when "like" then %>
              <%= link_to "あなたの投稿", post_path(notification.post.id) %>にいいねしました
            <% when "comment" then %>
              <% if notification.post.user_id == notification.visited.id %>
                <%= link_to "あなたの投稿", post_path(notification.post.id) %>
              <% else %>
                <%= link_to post_path(notification.post.id) do %>
                  <%= notification.post.user.nickname %>さんの投稿
                <% end %>
              <% end %>
              にコメントしました
          <% end %>
        </p>
        <p class="text-muted">
          <%= Comment.find_by(id: notification.comment_id)&.comment %>
        </p>
      </span>
    </div>
    <div class="small text_muted text-right">
      <%= time_ago_in_words(notification.created_at).upcase %>
    </div>
  </div>
  
  