<!DOCTYPE html>
<html>
  <head>
    <title>MI-NAM</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      <%= render "layouts/header" %>
    </header>
    
    <main>
      <div class="row">
        <div class="col-10 mx-auto" style="margin-top: 25px;">
          <%= render 'layouts/search_form' %>
        </div>
      </div>
      <%= yield %>
    </main>
    
    <footer>
      <%= render "layouts/footer" %>
    </footer>
  </body>
</html>